<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661418308102-uh08eg28p0ktklo033s26rt157piks5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661418308102-uh08eg28p0ktklo033s26rt157piks5j</string>
	<key>API_KEY</key>
	<string>AIzaSyB1mMbZ75zNRVaa9e62HfpnILq4CmEQI7A</string>
	<key>GCM_SENDER_ID</key>
	<string>661418308102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeCare</string>
	<key>PROJECT_ID</key>
	<string>home-care-94471</string>
	<key>STORAGE_BUCKET</key>
	<string>home-care-94471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661418308102:ios:7b4191b92a0c2183f74987</string>
</dict>
</plist>